<script>
    let my_counter = 0;
    let max_questions = "{{ maxQuestions }}";

    function increaseCounter() {
        my_counter++;
        if (my_counter >= max_questions) {
            window.location.hash = "#answers";
        } else {
            window.location.hash = "#" + my_counter;
        }
    }
       function decreaseCounter() {
        my_counter--;
        if (my_counter >= max_questions) {
            window.location.hash = "#answers";
        } else {
            window.location.hash = "#" + my_counter;
        }
    }
</script>

<p class = "ready centered">Are you ready to play?</p>
<p class = "how">make sure you go to http://smartini.herokuapp.com/ and type in the room code: {{roomCode}}</p>
{{!-- https://handlebarsjs.com/guide/builtin-helpers.html#each --}}
{{#each qna}}
    {{#unless @index}}
        <div class="full_screen_first" id="{{@index}}">
            <div class="card">{{incrementCounter @index}}. {{this.question}}</div>
            <button class="next button" onclick="increaseCounter()">Next</button>
            <button class="next button" onclick="decreaseCounter()">Previous</button>
        </div>
    {{/unless}}
    {{#if @index}}
        <div class="full_screen" id="{{@index}}">
            <div class="card">{{incrementCounter @index}}. {{this.question}}</div>
            <button class="next button" onclick="increaseCounter()">Next</button>
            <button class="next button" onclick="decreaseCounter()">Previous</button>
        </div>
    {{/if}}
{{/each}}

<div class="answers full_screen" id="answers">
    {{#each qna}}
        <div id="{{@index}}">
            {{incrementCounter @index}}. {{this.question}}: <b>{{this.answer}}</b>
        </div>
    {{/each}}
</div>